/* Common styles for all devices */

body {
    font-family: "Open Sans", sans-serif;
    margin: 2em;
    padding-bottom: 5em;
    padding: 0;
    line-height: 1.3; 
    font-weight: 300;
    background-color: #F2F2F2;
    line-height: 1.5;

}

header, section {
    margin: 20px;
}
.about{
padding-bottom: 0.5em;
}



.contact a {
    color: black;
    text-decoration: underline; 
    padding-left: 10px; 
    font-size: 0.9em;
    
    
}

.education p {
    
    margin-top: 0;
    padding-top: 0;
    
}
li{
    font-size:0.8em;
    padding-left: 0.2em;

}
ul{
   
    padding-left: 1em;

}
p{
    font-size:0.8em;
}


h2{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: bold;
    font-size:1.25em;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3{
    font-family:"Open Sans";
    font-weight: 700;
    font-style: bold;
    font-size:0.95em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact{
  
    
    padding-bottom: 0.5em;
}

.employer{
  
    
    font-family: "Open Sans";
    font-weight: 500;
    font-style: bold;
    font-size:0.8em;
    margin-top: 0;
    padding-top: 0.8em;
}

.projects{
  
    
    padding-bottom: 0.5em;
}
.experience{
  
    
    padding-bottom: 0.5em;
}
.education{
  
    
    padding-bottom: 2em;
}

.skills{
  
    
    padding-bottom: 0.5em;
}


/* Media queries for different screen sizes */

/* Small screens */
@media (min-width: 320px) and (max-width: 620px){

    body {
        
        margin: 1.2em;  
    
    }
   
h1{
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: bold;
    font-size:1.8em;
    margin-bottom: 0;
    padding-bottom: 0;

}
h2{
    
    font-size:1.4em;
  

}
h3{
    font-size:18px;
}
    

    /* Increasing font size for paragraphs in the about section */
.about p {
    font-size: 16px; /* Adjust the size as needed */
    
}

.contact a {
    font-size: 14px; /* Adjust the size as needed */
  
}
/* For the experience section */
.experience ul li {
    font-size: 16px; /* Adjust the size as needed */
    line-height: 1.75;

}
.experience p {
    font-size: 16px; /* Adjust the size as needed */
   

}

/* And for the education section */
.education p {
    font-size: 16px; /* Adjust the size as needed */
}

    #title{
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-style: bold;
        font-size:1.4em;
        margin-top: 0;
        margin-bottom: 1.5em;
    
    }

    #main {
    
        margin:0;
        
    }
    .skills{
        margin:0;
    }
    .skills ul li {
        font-size: 16px; /* Adjust the size as needed */
        line-height: 1.75;
    
    }
    .education{
        margin:0;
    }
    .education p{
        font-size: 16px;
    }
}


/* Medium screens */
@media (min-width: 621px)and (max-width: 960px) {
    body {
        font-size:1.2em;
        margin:1em;
    }
    
    h1{
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-style: bold;
        font-size:3em;
        margin-bottom: 0;
        padding-bottom: 0;
    
    }
        p {
        
            text-align: justify;
             
        }
        #title{
            font-family: "Playfair Display", serif;
            font-weight: 700;
            font-style: bold;
            font-size:1.6em;
            margin-top: 0;
            margin-bottom: 1.5em;
        
        }
        
    
    #main {
        display: flex;
        justify-content: space-between;
        word-wrap: wrap-reverse;
        margin:0;
        
    }
    
    .about {
        order: 1; 
        width: 50%;
   
    }

    .contact {
        order: 2; 
        width: 50%;
        
        
    }
    .skills ul {
        columns: 2; 
        -webkit-columns: 2; 
        -moz-columns: 2; 
        column-gap:0; 
       
       
    
    }

    .skills li {
        width:80%
        
    }
    .main2 {
        display: flex;
        justify-content:space-around;
        margin:0;
        
    }
    
    .skills {
        order: 1; 
        width: 55%;
   
    }

    .education {
        order: 2; 
        width: 45%;
        
    }
    }

    
    
  



/* Large screens */
@media (min-width: 960px) {

    body{
        line-height: 1.75;
    }
    
    h1{
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-style: bold;
        font-size:6em;
        margin-bottom: 0;
        padding-bottom: 0;
    
    }
        p {
        
            text-align: justify;
        
                font-size:1.5em;
            
             
        }
        #title{
            font-family: "Playfair Display", serif;
            font-weight: 700;
            font-style: bold;
            font-size:2.4em;
            margin-top: 0;
            margin-bottom: 1.5em;
        
        }
        li{
            font-size:1.5em;
            padding-left: 0.2em;
        
        }

        h2{
            font-family: "Playfair Display", serif;
            font-weight: 700;
            font-style: bold;
            font-size:2.2em;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        
        h3{
            font-family: "Open Sans";
            font-weight: 600;
            font-style: bold;
            font-size:1.8em;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .about {
            padding-right:2em;
       
        }

        .employer{
  
    
            font-family: "Open Sans";
            font-weight: 500;
            font-style: bold;
            font-size:1.5em;
            
        }

}


